.footer {
    min-height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
        &-left {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            &-connect {
                display: flex;
                gap: 20px;
                align-items: center;
                a {
                    height: 30px;
                    img {
                        width: 30px;
                        height: 30px;
                        transition: 0.5s;
                    }
                    // img:hover {
                    //     box-shadow: #00a8cc 0px 0px 25px;
                    //     color: #00a8cc;
                    //     text-shadow: #00a8cc 0px 0px 2px;
                    // }
                }
            }
        }
    }
}