/* Root Variables for Theming */
:root {
  --primary-color: #FF6464;
  --secondary-color: #EDF7FA;
  --text-color: #000;
  --bg-color: #242424;
  --button-bg: #1a1a1a;
  --button-hover: #646cff;
  --font-family: 'Heebo', sans-serif;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-medium: 20px;
  --font-size-large: 22px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 32px;
}

@supports (height: 100dvh) {
  ::before,
  ::after,
  :root {
    --vh: 1dvh;
  }
}

@supports (width: 100dvw) {
  ::before,
  ::after,
  :root {
    --vw: 1dvw;
  }
}

/* Light Mode Variables */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000;
    --bg-color: #ffffff;
    --button-bg: #f9f9f9;
  }
}

/* Global Styles */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size-base);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}