.project-detail-page {
  margin-top: 140px;
  &__container {
    width: 681px;
    margin: 0 auto;
    .wrapper {
      text-align: left;
      &-url {
        &-btn {
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          .motion-button {
            background-color: #00a8cc;
            padding: 10px 20px;
            border-radius: 4px;
            border: none;
            // cursor: pointer;
            width: fit-content;
            a {
              color: #fff;
            }
            img {
              width: 14px;
              height: 14px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}
