.project-detail-page {
  margin-top: 140px;
  &__container {
    width: 681px;
    margin: 0 auto;
    .wrapper {
      text-align: left;
      &-title {
        margin-bottom: 30px;
        h1 {
          font-size: 34px;
          line-height: 50px;
        }
      }
      &-time {
        margin-bottom: 23px;
        span {
          font-size: var(--font-size-medium);
          line-height: 29px;
        }
      }
      &-description {
        margin-bottom: 54px;
        p {
          font-size: var(--font-size-base);
          line-height: 24px;
          margin-bottom: 46px;
        }
        &-image {
          // height: 460px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &-responsibilities {
        margin-bottom: 30px;
        &-list {
          &-item {
            &-title {
              margin-bottom: 13px;
              h1 {
                font-size: var(--font-size-base);
                line-height: 24px;
                font-weight: 500;
              }
            }
            &-image {
              width: 100%;
              margin-bottom: 15px;
              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
      &-tag {
        margin-bottom: 23px;
        &-item {
          font-size: var(--font-size-base);
          line-height: 24px;
          font-weight: 500;
          align-items: center;
          display: flex;
          gap: 10px;
          span {
            width: fit-content;
            padding: 4px 10px;
            border-radius: 20px;
            background: #ff6464;
            color: #fff;
            display: inline;
          }
        }
      }
      &-url {
        &-btn {
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: flex-start;
          .motion-button {
            background-color: #00a8cc;
            padding: 7.5px 15px;
            border-radius: 4px;
            border: none;
            // cursor: pointer;
            width: fit-content;
            a {
              color: #fff;
              font-size: var(--font-size-base);
              line-height: 24px;
              font-weight: 500;
            }
            img {
              width: 14px;
              height: 14px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}
